//! **************************************************************************
// Written by: Map J.30 on Mon Nov 25 18:49:37 2013
//! **************************************************************************

SCHEMATIC START;
NET "c3_BUFGP/IBUFG" BEL "c3_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
